  
  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  body{
    background: linear-gradient(90deg,rgb(44, 9, 9),black);
    background-size: 200% 200%;
    animation: backgroundAnimation 8s infinite;
  }
  #header {
    background-image: url(/static/img/IMG-20230117-WA0077.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    background-color: rgba(102, 53, 53, 0.308);
  }

  #header .text .h7{
      font-family:'Russo One', sans-serif; 
      font-size: 60px;
  }
  
  nav{
    background-color: rgba(255, 255, 255, 0.712);
  }
  nav ul li a{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
  }
  nav ul li a.active {
    color: rgb(156, 64, 21);
  }
 
 
  /* @keyframes shake {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-15px);
    }
    60% {
      transform: translateX(-10px);
    }
  } */
  
   /* .name .h2 {
    animation: shake 2s infinite;
  } */
  #My-Services .h7{
    font-family:'Dancing Script', cursive;
    font-size: 70px;
    color: white;
    color: rgb(46, 2, 2);
  }
  .caption{
    font-weight: lighter;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.589); 
    z-index: 1;
  }
  #about .text .h7{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
  }
  
  #about .container-fluid{
    height: fit-content;
  }
  #about .row{
    justify-content: space-around;
  }
 
  .slider {
    width: 100%;
  
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  #My-Services{
    background: linear-gradient(-45deg,rgb(19, 32, 32),rgb(88, 88, 88));
    background-size: 200% 200%;
    animation: backgroundAnimation 8s infinite;
  }
  @keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #My-services .boxes .box{
    position: absolute;
    background-color: transparent;
    height: 60px;
    width: 60px;
    border: 6px solid rgba(248, 3, 3, 0.589);
    z-index: 40;
  }

  #contact h1{
    font-family: 'Dancing Script', cursive ;
    color: white;
  }
  #contact form input{
    height: 60px;
    background-color: #181616;
    border: none;
    box-shadow: none;
    color: white;
  }
  #contact form textarea{
    background-color: #181717;
    border: none;
    box-shadow: none;
  }
  #contact form input.form-control::placeholder, textarea.form-control::placeholder {
    color: #fff;
    font-size: larger;
  }

  .blog .text-background{
    background-color: #141313;
  }
  footer {
    background-color: #161616;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  @media only screen and (max-width: 760px) {
    #header{
    height: 360px;
    background-color: #d8d6d6;
    }

    #header .text .h7{ 
      font-size: 30px;
  }
    
  }
